*{
	padding: 0;
	margin: 0;
}
.header {

	background-image: linear-gradient(to right bottom,rgb(0,0,0,.6),rgb(0,0,0,.6)),url(img-9.jpg);
	min-height: 80vh;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

.special-row {
	background: #bc4e9c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.flexbox {
	display: flex;


	justify-content: center;


	flex-direction: column;
}

.flexbox h1{
	font-size: 5vw;
}
.flexbox p {

	font-size: 2vw;
}


.items .col-12 .card:hover {
	box-shadow:  5px 5px .3px #99AAAB;
}


/* styling for free hosting */
img[alt="www.000webhost.com"] {
	display:none;
}
